@font-face {
    font-family: Gotham;
    src: url(../fonts/Gotham/GothamPro-Medium.ttf)
}

*{
	margin: 0;
	padding: 0;
}
html{
	min-height: 100%;
}
.header{
	display: grid;
	grid-template-rows: 30% auto;

	width: 100%;
	height: 100vh;

	background: url(../img/background.png) no-repeat;
	background-size: cover;

	font-family: Gotham, sans-serif;
}
.header__logo{
	grid-row-start: 1;
	grid-row-end: 2;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;
}
.header__form{
	grid-row-start: 2;
	grid-row-end: 3;

	width: 600px;
	margin: 0 auto;
}
.form__authorization{
	display: flex;
	flex-direction: column;
	align-items: center;

	border-radius: 8px;

	background-color: #fff;
	box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
}
.authorization__name{
	margin: 48px 0;

	font-size: 24px;
	color: #262626;

	opacity: 0.8;
}
.authorization__email,
.authorization__password{
	width: 80%;
	padding: 16px 14px;
	
	background-color: #F1F1F1;

	border-radius: 4px;
	border: none;

	font-size: 16px;
	color: #262626;
}
.authorization__password{
	margin-top: 32px;
}
.authorization__error{ 
	width: 79.5%;
	margin-top: 32px;
	padding: 10px 16px;

	background: rgba(237, 65, 89, 0.25);
	border-radius: 4px;

	font-size: 14px;
	color: #ED4159;
}
.authorization__button{
	padding: 15px 56px;
	margin: 48px 0 60px;

	border: none;
	border-radius: 100px;

	background: #ED4159;
	box-shadow: 0px 4px 16px rgba(237, 65, 89, 0.4);

	color: #fff;
	font-size: 14px;
	cursor: pointer;
}
.authorization__button:hover,
.user__exit-button:hover{
	background: #FFFFFF;
	box-shadow: 0px 6px 20px rgba(237, 65, 89, 0.4);
	color: #ED4159;
}
.authorization__button:active,
.user__exit-button:active{
	background: #FFFFFF;
	box-shadow: 0px 2px 10px rgba(237, 65, 89, 0.5);
	color: #ED4159;
}
.header__contain{
	width: 600px;
	margin: 0 auto;
}
.contain__user{
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;
	border-radius: 8px;

	background-color: #fff;
}
.user__avatar{
	margin: 48px 0 40px;
}
.user__name{
	font-size: 28px;
	letter-spacing: 0.233333px;
	color: #262626;
	opacity: 0.8;
}
.user__exit-button{
	padding: 16px 56px;
	margin: 56px 0 60px;
	
	border: none;
	border-radius: 100px;

	background: #ED4159;
	color: #fff;
	box-shadow: 0px 4px 16px rgba(237, 65, 89, 0.4);
	cursor: pointer;
	font-size: 14px;
}
.invisible-block{
	display: none;
}

@media screen and (max-width: 1360px){
	.header{
		grid-template-rows: 20% auto;
	}
}

@media screen and (max-width: 620px){
	.header{
		width: auto;
		grid-template-rows: 20% auto;
		padding: 0 16px;
	}
	.logo__img{
		width: 60%;
	}
	.header__form,
	.header__contain{
		width: 100%;
	}
	.authorization__name{
    	margin: 32px 0;
	}
	.authorization__password{
    	margin-top: 24px;
	}
	.authorization__error{
		margin-top: 24px;
	}
	.authorization__button{
    	margin: 40px 0 48px;
	}
	.user__avatar{
		width: 86px;
		margin: 32px 0 24px;
	}
	.user__name{
		font-size: 18px;
	}
	.user__exit-button{
		margin: 39px 0 48px;
	}
}

@media screen and (max-width: 568px) and (max-height: 450px){
	.header{
		grid-template-rows: 15% auto;
	}
	.logo__img{
		width: 30%;
	}
	.header__form,
	.header__contain{
		width: 80%;
	}
	.authorization__name{
    	margin: 15px 0;
    	font-size: 20px;
	}
	.authorization__email, 
	.authorization__password{
	    padding: 10px 14px;
	}
	.authorization__password{
    	margin-top: 10px;
	}
	.authorization__error{
		padding: 6px 16px;
		margin-top: 10px;
	}
	.authorization__button{
    	margin: 15px 0;
	}
	.user__avatar{
		width: 86px;
		margin: 20px 0 15px;
	}
	.user__name{
		font-size: 18px;
	}
	.user__exit-button{
		margin: 25px 0 35px;
	}
}

@media screen and (max-width: 450px){
	.header{
		background: url(../img/background-mobile.png);
		background-size: cover;
	}
}